# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# Environment Variables
.env

# Chroma Database
chroma_db/

# PDFs
documents/

# Logs
*.log

# SQLite
*.sqlite3
*.db

# Jupyter
.ipynb_checkpoints/

# Build
build/
dist/
*.egg-info/
